* {
    border: 1px dashed red;
    max-width: 100%;
}

p {
    font-size: 1em;
}

h1 {
    font-size: 1.625em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.125em;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
    margin: auto;
}

table tr td {
    border: 1px solid black;
}

body {

    background-repeat: no-repeat;
    background: #f2f2f2;
    background: -moz-linear-gradient(top,  #f2f2f2 0%, #ffffff 54%, #fefffb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(54%,#ffffff), color-stop(100%,#fefffb));
    background: -webkit-linear-gradient(top,  #f2f2f2 0%,#ffffff 54%,#fefffb 100%);
    background: -o-linear-gradient(top,  #f2f2f2 0%,#ffffff 54%,#fefffb 100%);
    background: -ms-linear-gradient(top,  #f2f2f2 0%,#ffffff 54%,#fefffb 100%);
    background: linear-gradient(to bottom,  #f2f2f2 0%,#ffffff 54%,#fefffb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fefffb',GradientType=0 );
}
